@import url(https://fonts.googleapis.com/css?family=Merienda:regular,700);
/* Obnulenie */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
/* --------------------------------*/
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
[class*="__container"] {
    max-width: 1050px;
    margin: 0px auto;
    padding: 0px 15px;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}
.header__container{
    display: flex;
    min-height: 110px;
    align-items: center;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 40px;
}
.header_nav{
    display: flex;
    gap: 15px;
}
.header_link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Merienda', cursive;
    font-weight: 400;
    line-height: 17px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:#262626;
}
@media (max-width: 1100px){
    [class*="__container"] {
        max-width: 970px;
    }
}
@media (max-width:991.98px){
    [class*="__container"]{
        max-width: 750px;
    }
    .header__container{
        min-height: 70px;
    }
}
@media (max-width:767.98px){
    [class*="__container"]{
        max-width: none;
    }
    .hamburger{
        display: block;
        right: 20px;
        position:absolute;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .header_link{
        font-size: 18px;
    }
    .header_list{
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color:#262626;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
        margin-top: 0;
        padding-top: 40px;
    }
    .header_item{
        margin: 16px 0;
    }
    .header_list.active {
        left: 0;
    }
}
@media (max-width:479.98px){

}

/*INTRODUCTION section style START */
h6{
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
    font-family: 'Merienda', cursive;
}
.intoduction{
    width: 100%;
    background: url(../img/header-bg.png) no-repeat;
    background-size: 100%;
}
.intro__container{
    padding-top: 110px;
    padding-bottom: 100px;
    max-height: 640px;
    text-align: center;
}
.beans_logo{
    margin: 20px auto 35px;
}
.intro_subheading{
    margin-bottom: 20px;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}
.btn{
    width: 120px;
    height: 30px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Merienda', cursive;
}
@media (max-width: 1100px){
    h6{
        font-weight: 500;
        font-size: 35px;
        line-height: 58px;
    }
    .intro_content{
        padding-top: 130px;
    }
    .intro_subheading{
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
    }
    .intro__container{
        padding-top: 90px;
        padding-bottom: 80px;
    }
}
@media (max-width:991.98px){
    .intro__container{
        padding-top: 55px;
        padding-bottom: 45px;
    }
    h6{
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
    }
    .beans_logo{
        margin: 10px auto 15px;
    }
    .intro_content{
        padding-top: 80px;
    }
    .intro_subheading{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
    }
}
@media (max-width:699.98px){
    h6{
        font-weight: 300;
        font-size: 20px;
        line-height: 45px;
    }
    .beans_logo{
        margin: 5px auto 8px;
    }
    .intro_content{
        padding-top: 50px;
    }
    .intro_subheading{
        margin-bottom: 0;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
    }
    .btn{
        width: 80px;
        height: 20px;
        font-size: 10px;
    }
    .beans_logo{
        display: none;
    }

}
@media (max-width:479.98px){
    .intro__container{
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .intro_content{
        padding-top: 10px;
    }
    h6{
        font-size: 10px;
    }
    .intro_subheading{
        font-size: 5px;
    }

}
/*INTRODUCTION section style END */
/*ABOUT US section style START */
.about_us__container{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    align-items: center;
}
.section_heading {
    font-family: Merienda;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}
.about_us__logo {
    margin: 20px auto 40px;
}
.about_us_paragraph {
    font-family: Merienda;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px; 
    padding: auto 20px;   
}
.about_us_p_container{
    margin: 0 auto;
    max-width: 590px;
}
@media (max-width:991.98px){
    .about_us__container{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .about_us_p_container{
        max-width: 520px;
    }
}
@media (max-width:699.98px){
    .about_us_p_container{
        max-width: 400px;
    }
    .about_us_paragraph {
        font-size: 11px;
    }

}
@media (max-width:479.98px){

}
/*ABOUT US section style END */
.our_best__container{
    text-align: center;
    padding-top: 80px;
}
.our_best{
    background: url(../img/bg-best.png) no-repeat;
    background-size: 100%;
}
.our_best__content{
    display: flex;
    gap: 70px;
    padding: 40px 110px 110px;
}
.about_us_item{
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    
}
.about_us_item img{
    margin: 22px 34px 14px 35px;
}
.our_best_item_heading{
    margin-bottom: 10px;
    font-family: Merienda;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.our_best_item_price{
    margin-bottom: 22px;
    text-align: right;
    padding-right: 22px;
    font-family: Merienda;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
@media (max-width: 1300px){
    .our_best__container{
        padding-top: 20px;
    }
    .our_best__content{
        gap: 50px;
        padding: 20px 90px 110px;
    }

}
@media (max-width: 1000px){

}
@media (max-width: 1100px){

}
@media (max-width: 1100px){

}